{% include 'header.html' %}
<br><br>
<form class="form-inline" method="post" action="/store" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h5>Ingresar Empleado</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del Empleado</h5>
            <div class="form-group">
                <label for="txtNombre">Nombre Completo:</label>
                <input id="txtNombre" class="form-control" type="text" name="txtNombre" placeholder="Ingrese el nombre completo" required>
            </div>
            <br>
            <div class="form-group">
                <label for="txtCorreo">Correo Electrónico:</label>
                <input id="txtCorreo" class="form-control" type="email" name="txtCorreo" placeholder="Ingrese el correo electrónico" required>
            </div>
            <br>
            <div class="form-group">
                <label for="txtFoto">Foto de Perfil:</label>
                <input id="txtFoto" class="form-control-file" type="file" name="txtFoto" accept="image/*" required>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Agregar Perfil Nuevo">
                <br>
                <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>
</form>

{% include 'footer.html' %}